.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: var(--transition-normal);
  position: relative;
  &:hover,
  &:active,
  &:focus {
    background-color: var(--color-surface-hover);
  }
  cursor: pointer;
  a {
    padding: var(--space-4);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--space-1);
    background-color: var(--color-primary-light);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform var(--transition-normal);
  }
}

.current:after {
  transform: scaleX(1);
  transform-origin: left;
}
